// Fonts
$primary-font: 'Source Sans Pro', sans-serif;

// Font Sizes
$massive-font: 48pt;
$very-large-font: 32pt;
$large-font: 22pt;
$medium-font: 16pt;
$normal-font: 13pt;
$small-font: 11pt;
$very-small-font: 10pt;

// Colors
$brand-color: #005AA7;
$black-color: #333333;
$black-2-color: lighten($black-color, 10%);
$gray-color: #999;
$light-gray-color: #eee;
$border-color: #ddd;

$hover-bg-color: lighten($light-gray-color, 5%);

// Buttons
$gray-btn-color: #bbb;
$gray-btn-text-color: white;