// Fonts
$primary-font: 'Source Sans Pro', sans-serif;

// Font Sizes
$massive-font: 48pt;
$very-large-font: 36pt;
$large-font: 24pt;
$medium-font: 16pt;
$normal-font: 12pt;
$small-font: 11pt;
$very-small-font: 9pt;

// Colors
$brand-color: #005AA7;
$black-color: #333333;
$black-2-color: lighten($black-color, 10%);
$gray-color: #999;
$light-gray-color: #eee;
$border-color: #ccc;

$hover-bg-color: lighten($light-gray-color, 5%);