// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700");

// Variables
@import "variables";
@import "defaults";
@import "vue-components";

// Styles
html, body {
    background-color: #fff;
    font-family: $primary-font;
    font-weight: 400;

	@include placeholder();
}

html {
	min-height: 100%;
	position: relative;
}

body {
	margin: 0 0 170px; // for footer

    #app {
	    max-width: 900px;
	    padding: 0 10px;
	    margin: 0 auto;
    }

    table {
    	td {
			font-size: $normal-font;
			
    		label {
    			padding-right: 10px;
    		}
    	}
    }

    p {
    	font-size: $normal-font;
    }
}

.muted {
	color: $gray-color;
}

.thin {
	font-weight: 300;
}

form span.error {
	font-size: $small-font;
	color: darken(red, 5%);
	margin-left: 8px;
}

[v-cloak] {
	display: none;
}

// header
header {
	// title
	h1 {
		margin-top: 0px;
		margin-bottom: 40px;

		a {
			font-size: $very-large-font;
			color: $black-2-color;
			&:hover {
				text-decoration: none;
				border-bottom: 1px solid black;
			}
		}

		sup#beta {
			font-size: 11pt;
		}

		.subheader {
			font-weight: 300;
			font-size: 10pt;
		}
	}

	// nav
	nav {
		ul {
			margin: 0;
			padding: 0;
			overflow: hidden;

			.server-list {
				position: absolute;
			}

			li {
				float: right;
				padding: 15px 0;

				a {
					display: block;
					text-align: center;
					padding: 0px 10px;

					font-weight: 500;
					text-decoration: none;
				}
			}
		}
	}
}

footer {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	margin-top: 100px;
	padding: 10px 10px 30px 10px;
	text-align: center;
	color: $gray-color;

	*, p {
		font-size: $small-font;
	}

	ul {
		li {
			display: inline;
			margin: 0 10px;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	.subheader {
		display: block;
		font-size: $small-font;
		margin-bottom: 1em;
		font-weight: 400;
		color: $gray-color;
	}
}

section {
	margin-top: 30px;

	h2, h3, h4 {
		// color: $brand-color;
	}

	h2 {
		font-size: $large-font;
		font-weight: 600;
		margin: 0;
		margin-bottom: 6px;

		&:not(:first-child) { 
			margin-top: 1.2em;
		}
	}

	h3 {
		font-size: $medium-font;
		color: $brand-color;
		font-weight: 400;
		margin-bottom: 10px;

		* {
			color: $brand-color;
		}
	}

	h4 {
		font-weight: 400;
		font-size: $normal-font;
	}

	h5 {
		font-weight: 600;
		font-size: $small-font;
	}

	hr {
		border: none;
		height: 1px;
		color: $gray-color;
		background-color: $gray-color;
		margin: 2em 0;
	}
}

section#login, section#signup {
	table {
		tr.padded-top td {
			padding-top: 1em;
		}
	}

}

// show stall blade
section#show-stall {
	display: table;
	width: 100%;

	h2 {
    	margin-top: 0;
    }

	img {
		vertical-align: middle;
		margin-right: 5px;
	}

	// Stall owner profile sidebar
	aside {
		// mobile view
		margin-top: 20px;
		border: 1px solid $light-gray-color;
		box-shadow: 0px 2px 2px $light-gray-color;
		padding: 20px;
		border-radius: 5px;
		order: 2;
		box-sizing: border-box;
		// line-height: 1.6em;
		
		h3 {
			margin-bottom: 0;

			&:first-child {
				margin-top: 0;
			}
		}

		p, a {
			margin-top: 0px;
			font-size: 12pt;
		}

		#igns {
			h4.server-name {
				font-weight: 700;
				text-transform: uppercase;
				font-size: $small-font;
				margin-bottom: 0;
				margin-top: 12px;

				&:first-child {
					margin-top: 4px;
				}
			}

			ul.igns {
				margin: 0;

				li {
					font-size: 12pt;
				}
			}
		}


		p:last-child {
			margin-bottom: 0;
		}
	}

	#stall-items {
		.stall-name {
			width: 100%;

			.stall-name-img {
				margin-top: 8px;
				float: left;
				width: 60px;
			}

			.stall-name-name {
				margin: 0 auto;
				h2 {
					margin: 0;
				}
			}

			.edit-stall-link {
				float: right;
			}
		}
	}

	#stall-description {
		padding-top: 20px;

		p {
			margin-top: 0;
		}
	}

	@media all and (min-width: 768px) {
		#stall-items {
			width: 100%;
			display: table-cell;
			padding-right: 20px;
		}

		aside {
			margin-top: 0;
			min-width: 270px;
		}
	}
}

section#show-user {
	section {
		margin-top: 25px;

		h3 {
			margin-top: 0;
			margin-bottom: 4px;
		}

		p {
			margin-top: 0;
		}
	}

	#title {
		width: 100%;
		overflow: hidden;
		> * { display: inline-block; }

		#username {
			float: left;
		}

		#edit-profile-link {
			margin-top: 4px;
			margin-left: 20px;
		}
	}

	#igns {
		margin-top: 10px;

		table {
			tr {
				td {
					padding-right: 10px;

					&.server {
						font-weight: 600;
						text-transform: capitalize;
					}
				}
			}
		}
	}

	#ign-list {
		h4 {
			font-weight: 700;
			text-transform: uppercase;
			font-size: $small-font;
			margin-bottom: 0;

			&:first-child {
				margin-top: 0;
			}
		}

		ul.igns {
			margin: 0;

			li {
				font-size: $normal-font;
			}
		}
	}
}

section#edit-user {
	table {
		tr {
			td {
				text-align: left;
			}
		}
	}
}