// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700");

// Variables
@import "variables";
@import "defaults";
@import "vue-components";

// Styles
html, body {
    background-color: #fff;
    font-family: $primary-font;
    font-weight: 300;

    max-width: 900px;
    padding: 0 10px;
    margin: 0 auto;

	@include placeholder();
}

body {
    padding-bottom: 50px;
}

.muted {
	color: $gray-color;
}

// header
header {
	// title
	h1 {
		margin-top: 0px;
		margin-bottom: 40px;

		a {
			font-weight: 300;
			font-size: $very-large-font;
			color: $black-2-color;
			&:hover {
				text-decoration: none;
				border-bottom: 1px solid black;
			}
		}
	}

	// nav
	nav {
		ul {
			margin: 0;
			padding: 0;
			overflow: hidden;

			li {
				float: right;
				padding: 15px 0;

				a {
					display: block;
					text-align: center;
					padding: 0px 10px;
					font-weight: 500;
					text-decoration: none;
				}
			}
		}
	}
}

section {
	margin-top: 30px;

	h2, h3, h4 {
		color: $brand-color;
	}

	h2 {
		font-size: $large-font;
		font-weight: 600;
		margin: 0;
		margin-bottom: 6px;

		&:not(:first-child) { 
			margin-top: 1.2em;
		}
	}

	h3 {
		font-size: $medium-font;
		color: $brand-color;
		font-weight: 400;
		margin-bottom: 10px;

		* {
			color: $brand-color;
		}
	}

	h4 {
		font-weight: 400;
		font-size: $normal-font;
	}

	h5 {
		font-weight: 600;
		font-size: $small-font;
	}
}

// show stall blade
section#show-stall {
	h2 {
    	margin-top: 0;
    }

	img {
		vertical-align: middle;
		margin-right: 5px;
	}

    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-flex-direction: row;
    flex-direction: row;

	justify-content: flex-start;
	align-items: stretch;

	// Stall owner profile sidebar
	aside {
		border: 1px solid $light-gray-color;
		box-shadow: 0px 2px 2px $light-gray-color;
		padding: 25px;
		border-radius: 5px;
		order: 2;
		box-sizing: border-box;
		line-height: 1.6em;

		// mobile view
		margin-top: 20px;

		h4 {
			font-weight: 600;
			margin-bottom: 0;

			&:first-child {
				margin-top: 0;
			}

		}

		p, a {
			margin-top: 0;
			font-size: $normal-font;
		}

		h5 {
			@include serverNameHeader()
		}

		ul {
			margin: 0;

			li {
				font-size: $normal-font;
			}
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	#stall-items {
		order: 1;
	}

	#stall-items, aside {
		flex-basis: 100%;
	}

	@media all and (min-width: 768px) {
		#stall-items {
			-webkit-flex: 1 1 auto;
			flex: 1 1 auto;
			flex-basis: 1;
			order: 1;
		}

		aside {
			margin-top: 0;
			margin-left: 30px;
			order: 2;
			flex-basis: 350px;
		}
	}
}

section#show-user {
	h2 {
		a.edit-profile-link {
			font-size: 14pt;
			font-weight: 400;
		}
	}
}

section#edit-user {
	table {
		tr {
			td {
				padding-bottom: 10px;
				text-align: left;
			}
		}
	}
}