// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700");

// Variables
@import "variables";
@import "defaults";
@import "vue-components";

// Styles
html, body {
    background-color: #fff;
    font-family: $primary-font;
    font-weight: 300;

    max-width: 900px;
    padding: 0 10px;
    margin: 0 auto;

	@include placeholder();
}

body {
    padding-bottom: 50px;
}

// header
header {
	// title
	h1 {
		margin-top: 20px;
		margin-bottom: 10px;

		a {
			font-weight: 300;
			font-size: $very-large-font;
			color: $black-2-color;

			&:hover {
				text-decoration: none;
			}
		}
	}

	// nav
	nav {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;

			li {
				float: right;
				padding: 20px 0;

				a {
					display: block;
					text-align: center;
					padding: 0px 15px;
					font-weight: 500;
					text-decoration: none;
				}
			}
		}
	}
}

section {
	h2 {
		font-size: $large-font;
		font-weight: 600;
		color: $brand-color;
		margin: 0;
		margin-top: 40px;
	}

	h3 {
		font-size: $medium-font;
		color: $brand-color;
		font-weight: 400;
		margin-bottom: 10px;
	}
}

// show stall blade
section#show-stall {
	img {
		vertical-align: middle;
		margin-right: 5px;
	}
}

section#show-user {
	h2 {
		a.edit-profile-link {
			font-size: 14pt;
			font-weight: 400;
		}
	}
}

section#edit-user {
	table {
		tr {
			td {
				padding-bottom: 10px;
				text-align: left;
			}
		}
	}
}