// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700");

// Variables
@import "variables";
@import "defaults";
@import "vue-components";

// Styles
html, body {
    background-color: #fff;
    font-family: $primary-font;
    font-weight: 400;


	@include placeholder();
}

body {
    padding-bottom: 50px;

    #app {
	    max-width: 900px;
	    padding: 0 10px;
	    margin: 0 auto;
    }

    table {
    	td {
			font-size: $normal-font;
			
    		label {
    			padding-right: 10px;
    		}
    	}
    }

    p {
    	font-size: $normal-font;
    }
}

.muted {
	color: $gray-color;
}

[v-cloak] {
	display: none;
}

// header
header {
	// title
	h1 {
		margin-top: 0px;
		margin-bottom: 40px;

		a {
			font-size: $very-large-font;
			color: $black-2-color;
			&:hover {
				text-decoration: none;
				border-bottom: 1px solid black;
			}
		}
	}

	// nav
	nav {
		ul {
			margin: 0;
			padding: 0;
			overflow: hidden;

			.server-list {
				position: absolute;
			}

			li {
				float: right;
				padding: 15px 0;

				a {
					display: block;
					text-align: center;
					padding: 0px 10px;

					font-weight: 500;
					text-decoration: none;
				}
			}
		}
	}
}

section {
	margin-top: 30px;

	h2, h3, h4 {
		color: $brand-color;
	}

	h1, h2, h3, h4, h5, h6 {
		.subheader {
			display: block;
			font-size: $normal-font;
			margin-bottom: 1em;
			font-weight: 300;
			color: $black-color;
		}
	}

	h2 {
		font-size: $large-font;
		font-weight: 600;
		margin: 0;
		margin-bottom: 6px;

		&:not(:first-child) { 
			margin-top: 1.2em;
		}
	}

	h3 {
		font-size: $medium-font;
		color: $brand-color;
		font-weight: 400;
		margin-bottom: 10px;

		* {
			color: $brand-color;
		}
	}

	h4 {
		font-weight: 400;
		font-size: $normal-font;
	}

	h5 {
		font-weight: 600;
		font-size: $small-font;
	}

	hr {
		border: none;
		height: 1px;
		color: $gray-color;
		background-color: $gray-color;
		margin: 2em 0;
	}
}

section#login, section#signup {
	table {
		tr.padded-top td {
			padding-top: 1em;
		}
	}

}

// show stall blade
section#show-stall {
	display: table;
	width: 100%;

	h2 {
    	margin-top: 0;
    }

	img {
		vertical-align: middle;
		margin-right: 5px;
	}

	// Stall owner profile sidebar
	aside {
		// mobile view
		margin-top: 20px;
		border: 1px solid $light-gray-color;
		box-shadow: 0px 2px 2px $light-gray-color;
		padding: 20px;
		border-radius: 5px;
		order: 2;
		box-sizing: border-box;
		line-height: 1.6em;
		
		h3 {
			margin: 0;
		}

		h4 {
			margin-bottom: 0;

			&:first-child {
				margin-top: 0;
			}

		}

		p, a {
			margin-top: 0;
			font-size: $normal-font;
		}

		h5 {
			@include serverNameHeader()
		}

		ul {
			margin: 0;

			li {
				font-size: $normal-font;
			}
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	#stall-items {
		.stall-name {
			.stall-name-img {
				margin-top: 8px;
				float: left;
			}

			.stall-name-name {
				h2 {
					margin: 0;
				}
			}
		}
	}

	#stall-description {
		padding-top: 20px;

		p {
			margin-top: 0;
		}
	}

	@media all and (min-width: 768px) {
		#stall-items {
			width: 100%;
			display: table-cell;
			padding-right: 20px;
		}

		aside {
			margin-top: 0;
			min-width: 250px;
		}
	}
}

section#show-user {
	h2 {
	}
}

section#edit-user {
	table {
		tr {
			td {
				text-align: left;
			}
		}
	}
}