* {
	color: $black-color;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

a {
	text-decoration: none;
	color: $brand-color;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style-type: none;
	}
}

p {
	font-size: $normal-font;
}

@mixin serverNameHeader {
	margin: 0;
	font-size: $very-small-font;
	text-transform: uppercase;

	margin-top: 1em;
	&:first-child {
		margin-top: 0;
	}
}

@mixin placeholder() {
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $gray-color;
		font-weight: 300;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $gray-color;
		font-weight: 300;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $gray-color;
		font-weight: 300;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $gray-color;
		font-weight: 300;
	}
}

@mixin formControl {
	outline: none;
	font-size: $normal-font;
	font-family: $primary-font;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
	border: 1px solid $border-color;
	@include formControl();
}

select {
	padding: 1em;
	height: 34px;
	min-width: 100px;
	font-size: 100%;
}

button, input[type="submit"] {
	@include formControl();

	border: 1px solid $brand-color;
	font-weight: 300;
	background-color: $brand-color;
	color: white;
	padding: 5px 25px;

	&:hover {
		cursor: pointer;
		background-color: lighten($brand-color, 5%);
		border-color: lighten($brand-color, 5%);
	}

	&:disabled {
		opacity: 0.5;
	}
}