html, body {
	color: $black-color;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

a {
	text-decoration: none;
	color: $brand-color;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style-type: none;
	}
}

ol {
	margin-left: 0;
	padding-left: 16px;
	margin-top: 0;
}

p {
	// font-size: $normal-font;
}

@mixin serverNameHeader {
	margin: 0;
	font-size: $very-small-font;
	text-transform: uppercase;
	margin-top: 1em;
	
	&:first-child {
		margin-top: 0;
	}
}

@mixin placeholder() {
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $gray-color;
		font-weight: 300;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $gray-color;
		font-weight: 300;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $gray-color;
		font-weight: 300;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $gray-color;
		font-weight: 300;
	}
}

@mixin formControl {
	outline: none;
	font-size: $normal-font;
	font-family: $primary-font;
	border-radius: 5px;
	box-sizing: border-box;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
	border: 1px solid $border-color;
	padding: 5px;
	@include formControl();
}

select {
	height: 34px;
	font-family: $primary-font;
	border-color: $border-color;
	background-color: white;
	border-radius: 5px;
	min-width: 100px;
	font-size: 100%;
}

table {
	th {
		font-weight: 600;
	}

	tr {
		td:last-child {
			padding-right: 10px;
		}
	}
}

a.button, button, input[type="submit"] {
	@include formControl();

	border: 1px solid $brand-color;
	background-color: $brand-color;
	color: white;
	padding: 5px 20px;

	&.basic {
		background-color: rgba(0,0,0,0);
		color: $brand-color;

		&:hover {
			color: darken($brand-color, 5%);
		}
	}

	&.gray {
		border-color: $gray-btn-color;
		background-color: white;
		color: darken($gray-btn-color, 10%);

		&:hover {
			border-color: darken($gray-btn-color, 20%);
			color: darken($gray-btn-color, 30%);
		}
	}

	&.danger {
		border-color: $red-color;
		background-color: white;
		color: $red-color;

		&:hover {
			border-color: darken($red-color, 10%);
			color: darken($red-color, 10%);
		}
	}

	&:not(.basic):hover {
		background-color: darken($brand-color, 5%);
	}

	&:hover {
		cursor: pointer;
		text-decoration: none;
		border-color: darken($brand-color, 5%);
	}

	&:disabled {
		opacity: 0.5;
	}
}

.capitalized {
	text-transform: capitalize;
}

.server-name-label {
	text-transform: uppercase;
	background-color: $gray-color;
	padding: 4px;
	border-radius: 3px;
	color: white;
	font-size: 10px;
	font-weight: 600;
}