// ItemSearch.vue
.item-search {
	display: inline;
	position: relative;

	ul.results {
		margin: 5px 0;
		padding: 0;
		border: 1px solid $border-color;
		background-color: white;
		min-width: 300px;
		width: inherit;
		box-sizing: border-box;

		border-radius: 5px;

		position: absolute;
		top: 45;
		left: 0;

		li {
			list-style-type: none;

			a {
				padding: 5px;
				display: block;

				&:hover {
					text-decoration: none;
				}
			}

			&:hover {
				background-color: $hover-bg-color;
			}

			&.active {
				background-color: $light-gray-color;
			}
		}
	}
}

// RoItemImage.vue
img.ro-item-image {
	width: 25px;
	vertical-align: middle;
}

// RoItemStallSearch.vue
.ro-item-stall-search {
	display: inline;

	.item-search input[type="text"] {
		padding: 10px;
		font-size: $medium-font;
		width: 100%;
	}
}

// StallList.vue
.stall-list {
	table {
		padding: 0;
		margin: 0;

		width: 100%;
	}
}

@mixin listTableRow {
	td {
		&.name {
			a {
				display: block;
			}

			padding: 8px;
		}

		&.img {
			width: 25px;
		}

		&.timestamp {
			text-align: right;
			width: 200px;
			padding: 8px;
		}
	}

	&:nth-child(even) {
		background-color: $hover-bg-color;
	}
}

// StallListRow.vue
tr.stall-row {
	font-size: $normal-font;

	@include listTableRow();

}

// StallItemList.vue
table.stall-item-list {
	width: 100%;
}

// StallItemListRow.vue
tr.stall-item-row {
	@include listTableRow();

	td {
		&.quantity, &.price {
			text-align: right
		}
	}
}