// ItemSearch.vue
.item-search {
	display: inline;
	position: relative;

	ul.results {
		margin: 5px 0;
		padding: 0;
		border: 1px solid $border-color;
		background-color: white;
		min-width: 250px;
		width: 100%;
		box-sizing: border-box;

		border-radius: 5px;

		position: absolute;
		top: 45;
		left: 0;

		z-index: 99999;

		li {
			a {
				padding: 5px;
				display: block;

				&:hover {
					text-decoration: none;
				}
			}

			&:hover {
				background-color: $hover-bg-color;
			}

			&.active {
				background-color: $light-gray-color;
			}
		}
	}
}

// RoItemImage.vue
img.ro-item-image {
	width: 25px;
	vertical-align: middle;
}

// StallItemSearch.vue
.stall-item-search {
	display: inline;

	.item-search input[type="text"] {
		padding: 10px;
		font-size: $medium-font;
		width: 100%;
	}


	.search-results {
		.searching {
			font-size: $medium-font;
		}

		.searching, h3 {
			font-weight: 300;
		}
	}
}

// StallList.vue
.latest-stalls {
	table {
		padding: 0;
		margin: 0;

		width: 100%;
	}
}

@mixin listTableRow {
	td, th {
		padding: 8px;
		
		&.name {
			a {
				display: inline;
			}

			text-align: left;
			width: 100%;
		}

		&.img {
			width: 25px;
		}

		&.price, &.timestamp, &.quantity {
			text-align: right;
		}

		&.price {
			min-width: 120px;
		}

		&.quantity {
			min-width: 40px;
		}

		&.timestamp {
			min-width: 120px;
		}
	}

	td {
		&.timestamp {
			font-size: $small-font;
		}
	}

	&:nth-child(even) {
		background-color: $hover-bg-color;
	}
}

// StallList.vue
table.stall-list {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;
}

// StallListRow.vue
tr.stall-row {
	@include listTableRow();
	font-size: $normal-font;
}

// StallItemList.vue
table.stall-item-list {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;

	// header / StallItemListRow.vue
	tr {
		@include listTableRow();
	}
}

// StallForm.vue
form.stall-form {
	table.stall-form {
		width: 100%;

		colgroup {
			col.label {
				width: 100px;
			}
		}

		td {
			padding-bottom: 10px;

			&.label {
				text-align: left;
				// vertical-align: top;
			}
		}

		tr.stall-name,
		tr.stall-description,
		tr.stall-add-item {
			input[type="text"], textarea {
				width: 100%;
			}
		}
	}

	table.add-items-form {
		width: 100%;

		input[type="text"],
		input[type="number"] {
			font-size: $small-font;
			// background-color: rgba(0,0,0,0);
			// border: none;
			margin: 3px;
			display: inline;
		}

		tr {			
			&:nth-child(even) {
				background-color: $hover-bg-color;
			}

			&.is-deleting {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		td, th {
			padding: 6px 0;
			word-wrap: break-word;
			text-align: center;

			.item-search {
				text-align: left;
			}

			&.image {
				width: 35px;
				padding: 0 5px;
			}

			&.name {
				margin: 0;
				padding-right: 10px;
				white-space: nowrap;
				text-align: left;
			}

			input {
				text-align: center;
			}

			&.refine, &.quantity {
				input {
					width: 60px;
				}
			}

			&.remove {
				text-align: center;
				padding: 0 5px;
				white-space: nowrap;
			}
		}
	}
}

.igns-form {
	h5 {
		@include serverNameHeader()
		font-size: $normal-font;
	}

	ul {
		li {
			font-size: $normal-font;
			line-height: 1.4;
		}
	}

	table.igns {
		tr {
			td.ign {
				padding-right: 20px;
			}
		}
	}
}