// ItemSearch.vue
.item-search {
	display: inline;
	position: relative;

	ul.results {
		margin: 5px 0;
		padding: 0;
		border: 1px solid $border-color;
		background-color: white;
		min-width: 250px;
		width: 100%;
		box-sizing: border-box;

		border-radius: 5px;

		position: absolute;
		top: 45;
		left: 0;

		z-index: 99999;

		li {
			a {
				padding: 5px;
				display: block;

				&:hover {
					text-decoration: none;
				}
			}

			&:hover {
				background-color: $hover-bg-color;
			}

			&.active {
				background-color: $light-gray-color;
			}
		}
	}
}

// RoItemImage.vue
img.ro-item-image {
	width: 24px;
	vertical-align: middle;
}

// StallItemSearch.vue
.stall-item-search {
	display: inline;

	.item-search input[type="text"] {
		padding: 10px;
		font-size: $medium-font;
		width: 100%;
	}


	.search-results {
		.searching {
			font-size: $medium-font;
		}

		.searching, h3 {
		}
	}
}

// StallList.vue
.latest-stalls {
	table {
		padding: 0;
		margin: 0;

		width: 100%;
	}
}

@mixin listTableRow {
	&:nth-child(even) {
		background-color: $hover-bg-color;
	}

	// &:hover {
	// 	cursor: pointer;
	// }

	td, th {
		padding: 4px;
		font-size: 12pt;
		
		&.name {
			a {
				display: inline;
			}

			width: 100%;
		}

		&.img {
			width: 25px;
		}

		&.price {
			min-width: 120px;
			padding-right: 10px;
		}

		&.quantity {
			min-width: 40px;
		}

		&.timestamp {
			min-width: 120px;
		}

		&.link-to-stall {
			max-width: 150px;
			word-wrap: break-word;
			width: 100%;
			padding: 0 15px;
		}

		&:last-child {
			padding-right: 10px;
		}
	}

	td {
		&.timestamp {
			font-size: 10pt;
			color: $gray-color;
		}
	}

	th, td {
		&.name {
			text-align: left;
		}

		&.price, &.timestamp, &.quantity {
			text-align: right;
		}

		&.link-to-stall {
			text-align: left;
		}
	}
}

// StallList.vue
table.stall-list {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;
}

// StallListRow.vue
tr.stall-row {
	@include listTableRow();
	font-size: $normal-font;
}

// StallItemList.vue
table.stall-item-list {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;

	// header / StallItemListRow.vue
	tr {
		@include listTableRow();
		height: 33px;
	}

	&.paginating {
		opacity: 0.4;
	}
}

// StallForm.vue
form.stall-form {
	table.stall-form {
		width: 100%;

		colgroup {
			.label {
				width: 130px;
			}
		}

		td {
			padding-bottom: 10px;

			label {
				text-align: left;
			}
		}

		tr.stall-name,
		tr.stall-description,
		tr.stall-add-item {
			input[type="text"], textarea {
				width: 100%;
			}
		}
	}

	table.add-items-form {
		width: 100%;

		input[type="text"],
		input[type="number"],
		select {
			font-size: $small-font;
			margin: 3px;
			display: inline;
		}

		th {
			&.item {
				text-align: left;
			}
		}

		tr {
			td {
				padding: 3px;

				&.remove {
					font-size: 12pt;
				}
			}			

			th {
				padding: 6px;
				text-align: center;
			}

			&:nth-child(even) {
				background-color: $hover-bg-color;
			}

			&.is-deleting {
				opacity: 0.3;
				pointer-events: none;
			}
		}


		td, th {
			word-wrap: break-word;
			text-align: center;

			.item-search {
				text-align: left;
			}

			&.image {
				width: 35px;
				padding: 0 5px;
			}

			&.name {
				margin: 0;
				white-space: nowrap;
				text-align: left;
			}

			&.quantity {
				input {
					max-width: 80px;
				}
			}

			&.refine {
				max-width: 120px;

				// ATK/element modifier select
				select {
					width: 100%;
					height: 30px;
				}

				input {
					width: 100%;
				}
			}

			&.remove {
				text-align: center;
				padding: 0 10px;
				white-space: nowrap;
			}

			&.modifiers {
				white-space: nowrap;
				text-align: left;
			}
		}
	}
}

.igns-form {
	h5 {
		font-size: $normal-font;
		text-transform: uppercase;
		margin: 0;
		margin-top: 1em;
	}

	ul {
		li {
			font-size: $normal-font;
			line-height: 1.4;
		}
	}

	table.igns {
		tr {
			td.ign {
				padding-right: 20px;
			}
		}
	}
}

// ServerPicker.vue
.server-picker {
	display: inline-block;

	.server-list {
		display: none;
		position: absolute;
		top: auto;

		background-color: white;
		border: 1px solid $light-gray-color;
		margin: 5px auto;
		min-width: 100px;
		z-index: 99999;
		box-shadow: 0 0 3px #f2f2f2;

		&.active {
			display: block;
		}

		a {
			padding: 8px;
			text-align: left;
			display: block;
		}
	}
}

// ItemPrice.vue
.item-price {
	// default

	&.tens {	 			color: purple; 	text-shadow: 1px 0px 0px violet;	}
	&.hundreds { 			color: #0048fb; text-shadow: 1px 0px 0px #76f9fb;	}
	&.thousands { 			color: red; 	text-shadow: 1px 0px 0px #fff833;	}
	&.ten-thousands { 		color: #d350f0; text-shadow: 1px 0px 0px lighten(#d350f0, 25%);	}
	&.hundred-thousands { 	color: darken(blue,3%); text-shadow: 1px 0px 0px lighten(blue, 30%);}
	&.millions { 			color: #333333; text-shadow: 1px 0px 1px #49ff00;	}
	&.ten-millions,
	&.hundred-millions { 	color: darken(red,5%); 	text-shadow: 1px 0px 0px lighten(red,40%);	}
}


.alert-message {
	padding: 12px;
	border-radius: 5px;
	display: block;

	&.success {
		background-color: #e5f9e7;
		color: #1ebc30;
		border: 1px solid #1ebc30;
	}
}

ul.pagination {
	text-align: center;
	padding: 12px 0;

	li {
		display: inline;

		a {
			padding: 8px 12px;
		}

		&.pagination-next{
			float: right;
		}

		&.pagination-prev {
			float: left;
		}
	}

	.active {
		font-weight: 700;
	}
}